<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="public-application-id" value="" />
    <add key="redirect-uri" value="http://localhost" />


    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="confidential-application-id" value="" />
    <add key="confidential-application-secret" value="" />
    <add key="tenant-name" value="" />

    <!-- Add URL for XMLA endpoint to program with TOM against Power BI Dataset -->
    <add key="workspace-connection-url" value="powerbi://api.powerbi.com/v1.0/myorg/MY_WORKSPACE" />


  </appSettings>
</configuration>